NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://ananyaappl3.github.io/NationalParks"
    xmlns="https://ananyaappl3.github.io/NationalParks"
    attributeFormDefault="unqualified">
  <xsd:element name="NationalParks" type="NationalParksType"/>
  <xsd:complexType name="NationalParksType">
    <xsd:sequence>
        <xsd:element name="NationalPark" type="NationalParkType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NationalParkType">
    <xsd:sequence>
        <xsd:element name="Name" type="xsd:string"/>
        <xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element name="Address" type="AddressType"/>
    </xsd:sequence>
    <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="PhoneType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{3}-\d{3}-\d{4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
        <xsd:element name="Number" type="xsd:string"/>
        <xsd:element name="Street" type="xsd:string"/>
        <xsd:element name="City" type="xsd:string"/>
        <xsd:element name="State" type="xsd:string"/>
        <xsd:element name="Zip" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
  </xsd:complexType>
</xsd:schema>
